@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Comme&family=Inter:wght@500;800&family=Libre+Baskerville:wght@700&family=Raleway:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #021c2c;
    background: -webkit-linear-gradient(to right, #070842, #051c2b);
    background: linear-gradient(to right, #01023a, #031724);
    color: rgb(245, 245, 245);
    /* font-family: 'Raleway', sans-serif; */
}

.container {
    text-align: center;
}

h2 {
    margin: 20px 0;
    color: rgb(180, 180, 200);
}

#reloj {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 4px solid blue;
    background: #060713;
    color: rgb(180, 180, 200);
    font-size: 50px;
    box-shadow: rgba(74, 74, 240, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 768px) {
    #reloj {
        height: 350px;
        width: 350px;
        font-size: 40px;
        font-weight: 600;
    }
}
